<!-- BEGIN: LAYOUT/HEADERS/HEADER-2 --> 
<!-- BEGIN: HEADER 2 -->
<header class="c-layout-header c-layout-header-6" data-minimize-offset="80">
  <div class="c-topbar">
    <div class="container">
      <nav class="c-top-menu">
        <ul class="c-links c-theme-ul">
          <li class="c-active"> <a href="about.html" class="c-font-uppercase c-font-bold c-font-dark">About</a> </li>
          <li class="c-divider"></li>
          <li> <a href="#" class="c-font-uppercase c-font-bold c-font-dark">Contact</a> </li>
        </ul>
      </nav>
      <div class="c-brand"> <a href="index.html" class="c-logo"> <img src="assets/base/img/layout/logos/logo-3.png" alt="B and M" class="c-desktop-logo"> <img src="assets/base/img/layout/logos/logo-1.png" alt="B and M" class="c-desktop-logo-inverse"> <img src="assets/base/img/layout/logos/logo-3.png" alt="B and M" class="c-mobile-logo"> </a>
        <button class="c-topbar-toggler" type="button"> <i class="fa fa-ellipsis-v"></i> </button>
        <button class="c-hor-nav-toggler" type="button" data-target=".c-mega-menu"> <span class="c-line"></span> <span class="c-line"></span> <span class="c-line"></span> </button>
        <button class="c-search-toggler" type="button"> <i class="fa fa-search"></i> </button>
      </div>
      <div class="col-md-6 pull-right c-margin-t-20">
        <div class="input-group input-group-sm">
          <input type="text" placeholder="Search for..." class="form-control  c-theme height40">
          <span class="input-group-btn">
          <button type="button" class="btn btn-default height40">Go!</button>
          </span> </div>
        <!-- /input-group --> 
      </div>
    </div>
  </div>
  <div class="c-navbar">
    <div class="container"> 
      <!-- BEGIN: BRAND -->
      <div class="c-navbar-wrapper clearfix"> 
        <!-- END: BRAND --> 
        <!-- BEGIN: QUICK SEARCH -->
        <form class="c-quick-search" action="#">
          <input type="text" name="query" placeholder="Type to search..." value="" class="form-control" autocomplete="off">
          <span class="c-theme-link">&times;</span>
        </form>
        <!-- END: QUICK SEARCH --> 
        <!-- BEGIN: HOR NAV --> 
        <!-- BEGIN: LAYOUT/HEADERS/MEGA-MENU --> 
        <!-- BEGIN: MEGA MENU --> 
        <!-- Dropdown menu toggle on mobile: c-toggler class can be applied to the link arrow or link itself depending on toggle mode -->
        <nav class="c-mega-menu c-pull-right c-mega-menu-dark c-mega-menu-dark-mobile c-fonts-uppercase c-fonts-bold">
          <ul class="nav navbar-nav c-theme-nav">
            <li> <a href="index.html" class="c-link dropdown-toggle">Home <span class="c-arrow c-toggler"></span> </a> </li>
            <li> <a href="javascript:;" class="c-link dropdown-toggle">Dogs <span class="c-arrow c-toggler"></span> </a>
              <ul class="dropdown-menu c-menu-type-mega c-menu-type-fullwidth" style="min-width: auto">
                <li>
                  <div class="menu_sec">
                    <div class="s_menu">
                      <div class="sec1">
                        <h4>Dogs A</h4>
                        <div class="m1"><a href="">Dogs 1</a></div>
                        <div class="m1"><a href="">Dogs 2</a></div>
                        <div class="m1"><a href="">Dogs 3</a></div>
                        <div class="m1"><a href="">Dogs 4</a></div>
                      </div>
                      <div class="sec1">
                        <h4>Dogs B</h4>
                        <div class="m1"><a href="">Dogs 1</a></div>
                        <div class="m1"><a href="">Dogs 2</a></div>
                        <div class="m1"><a href="">Dogs 3</a></div>
                        <div class="m1"><a href="">Dogs 4</a></div>
                        <div class="m1"><a href="">Dogs 5</a></div>
                        <div class="m1"><a href="">Dogs 6</a></div>
                      </div>
                    </div>
                    <img alt="" src="images/dogs.jpg"> </div>
                </li>
              </ul>
            </li>
            <li> <a href="javascript:;" class="c-link dropdown-toggle">Cats <span class="c-arrow c-toggler"></span> </a>
              <ul class="dropdown-menu c-menu-type-mega c-menu-type-fullwidth" style="min-width: auto">
                <li>
                  <div class="menu_sec">
                    <div class="s_menu">
                      <div class="sec1">
                        <h4>Cats A</h4>
                        <div class="m1"><a href="">Cats 1</a></div>
                        <div class="m1"><a href="">Cats 2</a></div>
                        <div class="m1"><a href="">Cats 3</a></div>
                        <div class="m1"><a href="">Cats 4</a></div>
                      </div>
                      <div class="sec1">
                        <h4>Cats B</h4>
                        <div class="m1"><a href="">Cats 1</a></div>
                        <div class="m1"><a href="">Cats 2</a></div>
                        <div class="m1"><a href="">Cats 3</a></div>
                        <div class="m1"><a href="">Cats 4</a></div>
                        <div class="m1"><a href="">Cats 5</a></div>
                        <div class="m1"><a href="">Cats 6</a></div>
                      </div>
                    </div>
                    <img alt="" src="images/cats.jpg"> </div>
                </li>
              </ul>
            </li>
            <li> <a href="javascript:;" class="c-link dropdown-toggle">Aquatic <span class="c-arrow c-toggler"></span> </a>
              <ul class="dropdown-menu c-menu-type-mega c-menu-type-fullwidth" style="min-width: auto">
                <li>
                  <div class="menu_sec">
                    <div class="s_menu">
                      <div class="sec1">
                        <h4>Aquatic A</h4>
                        <div class="m1"><a href="">Aquatic 1</a></div>
                        <div class="m1"><a href="">Aquatic 2</a></div>
                        <div class="m1"><a href="">Aquatic 3</a></div>
                        <div class="m1"><a href="">Aquatic 4</a></div>
                      </div>
                      <div class="sec1">
                        <h4>Aquatic B</h4>
                        <div class="m1"><a href="">Aquatic 1</a></div>
                        <div class="m1"><a href="">Aquatic 2</a></div>
                        <div class="m1"><a href="">Aquatic 3</a></div>
                        <div class="m1"><a href="">Aquatic 4</a></div>
                        <div class="m1"><a href="">Aquatic 5</a></div>
                        <div class="m1"><a href="">Aquatic 6</a></div>
                      </div>
                    </div>
                    <img alt="" src="images/aquatic.jpg"> </div>
                </li>
              </ul>
            </li>
            <li> <a href="store.html" class="c-link dropdown-toggle">Store <span class="c-arrow c-toggler"></span> </a> </li>
            <li> <a href="javascript:;" class="c-link dropdown-toggle">Services <span class="c-arrow c-toggler"></span> </a>
              <ul class="dropdown-menu c-menu-type-mega c-menu-type-fullwidth" style="min-width: auto">
                <li>
                  <ul class="dropdown-menu c-menu-type-inline">
                    <li>
                      <h3>Services 1</h3>
                    </li>
                    <li> <a href="page-about-1.html">Services 1</a> </li>
                    <li> <a href="page-about-2.html">Services 2</a> </li>
                    <li> <a href="page-about-3.html">Services 3</a> </li>
                    <li> <a href="page-about-4.html">Services 4</a> </li>
                    <li> <a href="page-team.html">Services 5</a> </li>
                  </ul>
                </li>
                <li>
                  <ul class="dropdown-menu c-menu-type-inline">
                    <li>
                      <h3>Services 2</h3>
                    </li>
                    <li> <a href="page-contact-1.html">Services 1</a> </li>
                    <li> <a href="page-contact-2.html">Services 2</a> </li>
                    <li> <a href="page-contact-3.html">Services 3</a> </li>
                    <li> <a href="page-faq.html">Services 4</a> </li>
                    <li> <a href="page-faq-2.html">Services 5</a> </li>
                  </ul>
                </li>
                <li>
                  <ul class="dropdown-menu c-menu-type-inline">
                    <li>
                      <h3>Services 3</h3>
                    </li>
                    <li> <a href="page-product-launch.html">Services 1</a> </li>
                    <li> <a href="page-lightbox-gallery.html">Services 2</a> </li>
                    <li> <a href="page-fullwidth-gallery.html">Services 3</a> </li>
                    <li> <a href="page-masonry-gallery.html">Services 4</a> </li>
                    <li> <a href="page-index-gallery.html">Services 5</a> </li>
                  </ul>
                </li>
                <li>
                  <ul class="dropdown-menu c-menu-type-inline">
                    <li>
                      <h3>Services 4</h3>
                    </li>
                    <li> <a href="page-blog-list.html">Services 1</a> </li>
                    <li> <a href="page-blog-grid.html">Services 2</a> </li>
                    <li> <a href="page-blog-post.html">Services 3</a> </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="c-menu-type-classic"> <a href="javascript:;" class="c-link dropdown-toggle">My Pet Friend <span class="c-arrow c-toggler"></span> </a> </li>
            <li class="c-menu-type-classic"> <a href="" class="c-link dropdown-toggle">Post A Pet <span class="c-arrow c-toggler"></span> </a> </li>
            <li class="c-menu-type-classic"> 
            <a href="javascript:;" class="c-link dropdown-toggle">Blog <span class="c-arrow c-toggler"></span> </a> 
              <ul class="dropdown-menu c-menu-type-classic c-pull-left">
                  <li> <a href="page-4col-portfolio.html">Indian Breeds 1</a> </li>
                  <li> <a href="page-2col-portfolio.html">Indian Breeds 2</a> </li>
                  <li> <a href="page-masonry-portfolio.html">Indian Breeds 3</a> </li>
                  <li> <a href="page-extended-portfolio.html">Indian Breeds 4</a> </li>
                </ul>
            </li>
            <li class="c-search-toggler-wrapper"> <a href="#" class="c-btn-icon c-search-toggler"> <i class="fa fa-search"></i> </a> </li>
            <li class="c-cart-toggler-wrapper"> 
              <a href="#" class="c-btn-icon c-cart-toggler">
                <i class="icon-handbag c-cart-icon"></i> <span class="c-cart-number c-theme-bg">2</span>
              </a> 
            </li>
          </ul>
        </nav>
        <!-- END: MEGA MENU --> 
        <!-- END: LAYOUT/HEADERS/MEGA-MENU --> 
        <!-- END: HOR NAV --> 
      </div>
      <!-- BEGIN: LAYOUT/HEADERS/QUICK-CART --> 
      <!-- BEGIN: CART MENU -->
      <div class="c-cart-menu">
        <div class="c-cart-menu-title">
          <p class="c-cart-menu-float-l c-font-sbold">2 item(s)</p>
          <p class="c-cart-menu-float-r c-theme-font c-font-sbold c-price"><i class="c-font-16-n">`</i>1238.00</p>
        </div>
        <ul class="c-cart-menu-items">
          <li>
            <div class="c-cart-menu-close"> <a href="#" class="c-theme-link">×</a> </div>
            <img src="images/Pedigree-Adult-Vegetarian-SDL558103785-1-6961e.jpg" />
            <div class="c-cart-menu-content">
              <p>1 x <span class="c-item-price c-theme-font c-price"><i class="c-font-16-n">`</i>548</span> </p>
              <a href="product-details.html" class="c-item-name c-font-sbold">Pedigree (Adult - Dog Food)</a> </div>
          </li>
          <li>
            <div class="c-cart-menu-close"> <a href="#" class="c-theme-link">×</a> </div>
            <img src="images/SDL506935178_1382439607_image1-b6cc7.jpg" />
            <div class="c-cart-menu-content">
              <p>1 x <span class="c-item-price c-theme-font c-price"><i class="c-font-16-n">`</i>690</span> </p>
              <a href="" class="c-item-name c-font-sbold">Whiskas Wet Meal</a> </div>
          </li>
        </ul>
        <div class="c-cart-menu-footer"> <a href="store-cart.html" class="btn btn-md c-btn c-btn-square c-btn-grey-3 c-font-white c-font-bold c-center c-font-uppercase">View Cart</a> <a href="checkout.html" class="btn btn-md c-btn c-btn-square c-theme-btn c-font-white c-font-bold c-center c-font-uppercase">Checkout</a> </div>
      </div>
      <!-- END: CART MENU --> 
      <!-- END: LAYOUT/HEADERS/QUICK-CART --> 
    </div>
  </div>
</header>
<!-- END: HEADER --> 
<!-- END: LAYOUT/HEADERS/HEADER-1 --> 
<!-- BEGIN: CONTENT/USER/FORGET-PASSWORD-FORM --> 

<!-- END: CONTENT/USER/FORGET-PASSWORD-FORM --> 
<!-- BEGIN: CONTENT/USER/SIGNUP-FORM --> 

<!-- END: CONTENT/USER/SIGNUP-FORM --> 
<!-- BEGIN: CONTENT/USER/LOGIN-FORM --> 

<!-- END: CONTENT/USER/LOGIN-FORM --> 
<!-- BEGIN: LAYOUT/SIDEBARS/QUICK-SIDEBAR --> 

<!-- END: LAYOUT/SIDEBARS/QUICK-SIDEBAR --> 

<router-outlet></router-outlet>

<!-- BEGIN: LAYOUT/FOOTERS/FOOTER-6 --> 
<a name="footer"></a>
<footer class="c-layout-footer c-layout-footer-3 c-bg-dark">
  <div class="c-prefooter">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="c-container c-first">
            <div class="c-content-title-1">
              <h3 class="c-font-uppercase c-font-bold c-font-white">Bows <span class="c-theme-font">and</span> Meows </h3>
              <div class="c-line-left hide"></div>
              <p class="c-text"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, s ed elit diam nonummy ad minim veniam quis nostrud exerci et tation diam.</p>
            </div>
            <ul class="c-links">
              <li> <a href="#">Home</a> </li>
              <li> <a href="#">About</a> </li>
              <li> <a href="#">Terms</a> </li>
              <li> <a href="#">Contact</a> </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="c-container c-first">
            <div class="c-content-title-1">
              <h3 class="c-font-uppercase c-font-bold c-font-white">Services </h3>
              <div class="c-line-left hide"></div>
            </div>
            <ul class="c-links">
              <li> <a href="#">Services 1</a> </li>
              <li> <a href="#">Services 2</a> </li>
              <li> <a href="#">Services 3</a> </li>
              <li> <a href="#">Services 4</a> </li>
              <li> <a href="#">Services 5</a> </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="c-container">
            <div class="c-content-title-1">
              <h3 class="c-font-uppercase c-font-bold c-font-white">Latest Posts</h3>
              <div class="c-line-left hide"></div>
            </div>
            <div class="c-blog">
              <div class="c-post">
                <div class="c-post-img"> <img src="assets/base/img/content/stock/9.jpg" alt="" class="img-responsive" /> </div>
                <div class="c-post-content">
                  <h4 class="c-post-title"> <a href="#">Ready to Launch</a> </h4>
                  <p class="c-text">Lorem ipsum dolor sit amet ipsum sit, consectetuer adipiscing elit sit amet</p>
                </div>
              </div>
              <div class="c-post c-last">
                <div class="c-post-img"> <img src="assets/base/img/content/stock/14.jpg" alt="" class="img-responsive" /> </div>
                <div class="c-post-content">
                  <h4 class="c-post-title"> <a href="#">Dedicated Support</a> </h4>
                  <p class="c-text">Lorem ipsum dolor ipsum sit ipsum amet, consectetuer sit adipiscing elit ipsum elit elit ipsum elit</p>
                </div>
              </div>
              <a href="#" class="btn btn-md c-btn-border-1x c-theme-btn c-btn-uppercase c-btn-square c-btn-bold c-read-more hide">Read More</a> </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="c-container c-last">
            <div class="c-content-title-1">
              <h3 class="c-font-uppercase c-font-bold c-font-white">Find us</h3>
              <div class="c-line-left hide"></div>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed elit diam nonummy ad minim.</p>
            </div>
            <ul class="c-socials">
              <li> <a href="#"> <i class="icon-social-facebook"></i> </a> </li>
              <li> <a href="#"> <i class="icon-social-twitter"></i> </a> </li>
              <li> <a href="#"> <i class="icon-social-youtube"></i> </a> </li>
              <li> <a href="#"> <i class="icon-social-tumblr"></i> </a> </li>
            </ul>
            <ul class="c-address">
              <li> <i class="icon-pointer c-theme-font"></i> One Boulevard, Beverly Hills</li>
              <li> <i class="icon-call-end c-theme-font"></i> +1800 1234 5678</li>
              <li> <i class="icon-envelope c-theme-font"></i> email@example.com</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="c-postfooter">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12 c-col">
          <p class="c-copyright c-font-grey">2016 &copy; Bows and Meows <span class="c-font-grey-3">All Rights Reserved.</span> </p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- END: LAYOUT/FOOTERS/FOOTER-6 --> 
<!-- BEGIN: LAYOUT/FOOTERS/GO2TOP -->
<div class="c-layout-go2top"> <i class="icon-arrow-up"></i> </div>

<!-- END: LAYOUT/FOOTERS/GO2TOP -->
